.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 5px solid #efccfd;
  border-radius: 0.3rem;
  display: inline-block;
  position: absolute;
  width: 17rem;
}

.react-datepicker__header {
  width: 100%;
  height: 5.5rem;
  text-align: center;
  background-color: white;
  border-bottom: none;
  padding: 8px 0;
  position: relative;
  border-radius: 0px;
}
/* .react-datepicker__header--time:not(.react-datepicker__header--time--only) {
  border-top-left-radius: -10rem;
  width: 5.3rem;
} */
.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 0px;
}
/* .react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list {
  list-style: none;
  margin: 0;
  height: calc(195px + (1.7rem / 2));
  padding-right: 0;
  padding-left: 0;
  width: 6rem;
  box-sizing: content-box;
  overflow: auto;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list::-webkit-scrollbar {
  width: 10px;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list::-webkit-scrollbar-thumb {
  background-color: #a81de4;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list::-webkit-scrollbar-track {
  background-color: #efccfd;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
} */
.react-datepicker__day--selected {
  border-radius: 0.3rem;
  background-color: #a81de4;
  color: #fff;
}
.react-datepicker__day--selected:hover {
  border-radius: 0.3rem;
  background-color: #8f1ac1;
  color: #fff;
}
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  border-top: none;
  border-bottom-color: #efccfd;
}
.react-datepicker__day-name {
  color: black;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  font-weight: bold;
  margin: 0.166rem;
}

.react-datepicker__day-names,
.react-datepicker__week {
  white-space: nowrap;
  margin: 10px;
  align-items: center;
}

/* .react-datepicker__input-container > input:focus {
  outline: #a81de4;
  border: 1px solid #efccfd;
} */
