@tailwind base;
@tailwind components;
@tailwind utilities;

.janus1 {
  background-image: url("https://bit.ly/3H2hrMK");
  clip-path: circle(1rem at var(--x) var(--y));
}
.janus2 {
  background-image: url("https://bit.ly/3FeC0nD");
  clip-path: circle(2.5rem at var(--x) var(--y));
}
.janus3 {
  background-image: url("https://bit.ly/3VrmFpE");
  clip-path: circle(2.5rem at var(--x) var(--y));
}

@font-face {
  font-family: "NEON";
  src: url(./fonts/NEON____.TTF) format("truetype");
}
@font-face {
  font-family: "NeonBines";
  src: url(./fonts/NeonBines.ttf) format("truetype");
}
@font-face {
  font-family: "Tonight";
  src: url(./fonts/Tonight.ttf) format("truetype");
}
@font-face {
  font-family: "Clip";
  src: url(./fonts/Clip.ttf) format("truetype");
}
@font-face {
  font-family: "BMHANNAAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BMHANNAPro";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MonoplexKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HallymGothic-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OTWelcomeRA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #e9e6f1;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
*::-webkit-scrollbar-track {
  background-color: #3e344e67;
  /* border-radius: 10px; */
  /* box-shadow: inset 0px 0px 5px white; */
}

.text-shadow {
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}
.text-shadow1 {
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.box-shadow {
  box-shadow: 0 0 10px rgba(255, 249, 208, 0.817);
}

.parent {
  height: 4em; /* 애니메이션 높이 */
  overflow-y: hidden;
  display: block;
}
.parent .child {
  line-height: 1;
  animation-name: grow;
  animation-duration: 1.2s; /* 애니메이션 시간 */
}
/* 키프레임 애니메이션 */
@keyframes grow {
  from {
    transform: translateY(4em);
  } /* 애니메이션 높이 */
  to {
    transform: translateY(0);
  }
}

.parent1 {
  height: 1.5em; /* 애니메이션 높이 */
  overflow-y: hidden;
  display: block;
}
.parent1 .child1 {
  line-height: 1;
  animation-name: grow;
  animation-duration: 1.2s; /* 애니메이션 시간 */
}
/* 키프레임 애니메이션 */
@keyframes grow {
  from {
    transform: translateY(1.5em);
  } /* 애니메이션 높이 */
  to {
    transform: translateY(0);
  }
}

.parent2 {
  height: 5em; /* 애니메이션 높이 */
  overflow-y: hidden;
  display: block;
}
.parent2 .child2 {
  line-height: 1;
  animation-name: grow;
  animation-duration: 1.5s; /* 애니메이션 시간 */
}
/* 키프레임 애니메이션 */
@keyframes grow {
  from {
    transform: translateY(5em);
  } /* 애니메이션 높이 */
  to {
    transform: translateY(0);
  }
}
